
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // REGLAS PÚBLICAS TOTALES - FORZADO DE DESPLIEGUE FINAL: 2026-04-11_1000
    // Estas reglas permiten acceso absoluto para desarrollo.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
